requests
pytest
pyautogui
fastapi
futures
pillow
google-generativeai
py-applescript
openai==1.55.0
ollama
google.ai.generativelanguage
click
pydantic
uvicorn
pyaml
pre-commit
black
mlx==0.21.1
mlx-vlm==0.1.4

